<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Lightswitch </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="client.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body ng-app="Lightswitch" ng-controller="LightswitchController as lc">
    <!-- Menubar -->
    <div class="menubar">
        <div class="menubar_title"> Lightswitch </div>
        <div ng-repeat="room in roomlist | orderBy:'name'"
             ng-click="lc.select_room(room)"
             ng-class="{ menubar_selected: lc.active_room == room, menubar_item: lc.active_room != room }"> {{ room.name }} </div>
    </div>
    <br />

    <!-- White Bulb Buttons -->
    <div ng-show="lc.active_room.model == 'white'">
        <div ng-click="lc.send_command('On')"       class="lightswitch_button"> On </div>
        <div ng-click="lc.send_command('Off')"      class="lightswitch_button"> Off </div>

        <div ng-click="lc.send_command('Max')"      class="lightswitch_button"> Max </div>
        <div ng-click="lc.send_command('Brighter')" class="lightswitch_button"> Brighter </div>
        <div ng-click="lc.send_command('Dimmer')" class="lightswitch_button"> Dimmer </div>
        <div ng-click="lc.send_command('Nightlight')" class="lightswitch_button"> Nightlight </div>

        <div ng-click="lc.send_command('Warmer')" class="lightswitch_button"> Warmer </div>
        <div ng-click="lc.send_command('Cooler')" class="lightswitch_button"> Cooler </div>
    </div>

    <!-- RGB Bulb Buttons -->
    <div ng-show="lc.active_room.model == 'rgb'">
        <div ng-click="lc.send_command('On')"       class="lightswitch_button"> On </div>
        <div ng-click="lc.send_command('Off')"      class="lightswitch_button"> Off </div>

        <div ng-click="lc.send_command('Brighter')" class="lightswitch_button"> Brighter </div>
        <div ng-click="lc.send_command('Dimmer')" class="lightswitch_button"> Dimmer </div>

        <div ng-click="lc.send_command('Next')" class="lightswitch_button"> Next </div>
        <div ng-click="lc.send_command('Previous')" class="lightswitch_button"> Previous </div>
        <div ng-click="lc.send_command('Faster')" class="lightswitch_button"> Faster </div>
        <div ng-click="lc.send_command('Slower')" class="lightswitch_button"> Slower </div>

        <div ng-click="lc.send_command('Colour', $event)" class="lightswitch_colour_select"> Colour </div>
        <div ng-click="lc.send_command('White')" class="lightswitch_button"> White </div>
    </div>

    <!-- RGBW Bulb Buttons -->
    <div ng-show="lc.active_room.model == 'rgbw'">
        <div ng-click="lc.send_command('On')"       class="lightswitch_button"> On </div>
        <div ng-click="lc.send_command('Off')"      class="lightswitch_button"> Off </div>

        <div ng-click="lc.send_command('Brightness', $event)" class="lightswitch_brightness_select"> Brightness </div>

        <div ng-click="lc.send_command('Next')" class="lightswitch_button"> Next </div>
        <div ng-click="lc.send_command('Faster')" class="lightswitch_button"> Faster </div>
        <div ng-click="lc.send_command('Slower')" class="lightswitch_button"> Slower </div>

        <div ng-click="lc.send_command('Colour', $event)" class="lightswitch_colour_select"> Colour </div>
        <div ng-click="lc.send_command('White')" class="lightswitch_button"> White </div>
    </div>

</body>
</html>
